.description {
    background: #fcfcfc;
}

.description-text {
    color: #535a5e;
    font-size: rem(38);
}

.lead-description {
    color: #9fa4a7;
    font-size: rem(16);
}

.img-block {
    display: flex;
}

.pen{
    background: #fcfcfc;
    /*background-image: url('../img/pen.png');*/
}
