.bg-contact {
    background: #2d3035;
}

.contact-header {
    color: #f1f1f1;
    font-size: rem(38);
}

.contact-lead {
    color: #98a0a5;
    font-size: rem(21);
}

.input-field {
    color: #fff;
    background: #2d3035;
    font-size: rem(17);
}

.btn-send {
    background: #a4b9be;
    font-family: 'Lato Bold', sans-serif;
    font-size: rem(18);
}

.flex-conteiner {
    display: inline;
    /*justify-content: space-between;
    flex-wrap: wrap
    /*flex-direction: row-reverse;*/
}
