* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  
  .conteiner {
    max-width: rem(1400);
    /*min-width: rem(1200);*/
    margin: auto;
    /*padding: 0 rem(24);*/
  }
  